$off-black: #271027;
$off-white: #fff5ff;
$red: #e21a56;
$pink: #ffcada;
$purple: #aa00d0;
$light-purple: #facffa;

$font-sizes: (
	1: 2rem,
	2: 1.5rem,
	3: 1.25rem,
	4: 1rem,
);

$grid-breakpoints: (
	xs: 0px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);
